{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <br/>
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                Your form has error 
                {% for field in form %}
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{form.as_p}}
        <br/>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>

{% endblock %}